//- button.state.btn.btn-xs
//-   span.glyphicon(class='glyphicon-' + (playing ? 'stop' : 'play'))

//- button.randomize.btn.btn-xs
//-   | Randomize

//- .sim-req
//-   .label
//-     | Neighbor Requirement
  
//-   button.minus.btn.btn-xs
//-     span.glyphicon.glyphicon-minus
//-   span.value.label.label-default
//-     = simReq
//-   button.plus.btn.btn-xs
//-     span.glyphicon.glyphicon-plus

