button.state.btn.btn-xs
  span.glyphicon(class='glyphicon-' + (playing ? 'stop' : 'play'))
  
button.prev.btn.btn-xs
  span.glyphicon.glyphicon-chevron-left
span.value.label.label-default
  = 'ABCDEF'.split('')[style]
button.next.btn.btn-xs
  span.glyphicon.glyphicon-chevron-right

